#!/bin/bash
#
#  cd /etc/init.d
#  ln -s /usr/local/man2html/init.rc man2html
#

SERVICE=man2html

. /etc/init.d/functions

PATH=$PATH:/usr/local/bin:/usr/local/sbin
PIDFILE=/var/run/$SERVICE.pid

exec=/usr/local/bin/plackup
prog=plackup

PORT="--port 8081"
HOST="--host localhost"
APPDIR=/usr/local/etc/man2html
APP="--app $APPDIR/app.psgi"

OPTIONS="$HOST $PORT $APP"

export LINKBASE=/perldoc/
export MAN=/man
export POD2=JA
export PERLDOC=/usr/local/bin/perlfind


my-start-stop-daemon() {
	start-stop-daemon --quiet --pidfile "$PIDFILE" $*
	local rc=$?
	if [ $rc -eq 0 ]; then
	    echo_success
	else
	    echo_failure
	fi
	return $rc
}

start() {
	[ -f $PIDFILE ] && stop
	echo -n "Starting $SERVICE: "
	my-start-stop-daemon -b -m --start --exec $exec -- $OPTIONS
	RETVAL=$?
        echo
        return $RETVAL
}	

stop() {
	echo -n "Shutting down $SERVICE: "
	my-start-stop-daemon --stop --signal TERM
	RETVAL=$?
	echo
        [ $RETVAL -eq 0 ] && rm -f $PIDFILE
        return $RETVAL
}

rhstatus() {
        status -p "$PIDFILE" -l $prog $exec
}

case "$1" in
    start)
	start
	;;
    stop)
	stop
	;;
    restart)
	stop
	start
	;;
    status)
	rhstatus
	;;
    *)
	echo "Usage: $0 {start|stop|restart|status}"
	exit 1
	;;
esac
exit $?
